#Connection Parameters
my_host = ""  # Hostname of this IRC server
my_name = "Dtella IRC Bridge"
irc_server = ""  # Main IRC server to connect to
irc_port = 6667
irc_password = ""
irc_chan = "#dtella"

# Bot Parameters
irc_to_dc_bot = "*IRC"
dc_to_irc_bot = "Dtella"

# Make these IRC nicks appear in the Dtella chat (tuple of strings)
virtual_nicks = ()

# Global Prefix Settings
dc_to_irc_prefix = '}'
irc_to_dc_prefix = '~'

# Dtella stuff
my_ip = '1.2.3.4'
udp_port = 41236
ip_cache = ['1.2.3.4:41234']

private_key = ()  # Tuple of long integers
