#Connection Parameters
my_host = ""  # Hostname of this IRC server
my_name = "Dtella IRC Bridge"
irc_server = ""  # Main IRC server to connect to
irc_port = 6667
irc_password = ""
irc_chan = "#dtella"

# UnrealIRCd hostmasking parameters
hostmask_prefix = "pre"

hostmask_keys = ["key1",
                 "key2",
                 "key3"]

# Bot Parameters
irc_to_dc_bot = "*IRC"
dc_to_irc_bot = "Dtella"

# Make these IRC nicks appear in the Dtella chat (list of strings)
virtual_nicks = []

# Global Prefix Settings
dc_to_irc_prefix = '}'
irc_to_dc_prefix = '~'

# Maximum IRC nick length
max_irc_nick_len = 30

# My UDP Port
udp_port = 41236

# Optionally provide an initial hint for my own IP.  If this is an offsite
# IP, it will be exempted from IP filtering for bridge/cache purposes.
myip_hint = ''

# IP:Ports to seed our local cache with. (can be [])
ip_cache = ['1.2.3.4:41234']

private_key = ()  # Tuple of long integers

# DNS Updater Stuff
dnsup_fixed_entries = {
    'minshare': '256M',
    'version': '13.37 13.38 http://www.example.com/'
    }

dnsup_interval = 60*15

# Select a plugin for dnsup_update_func

# -- Write to a plain text file --
import dtella_dnsup_textfile
dnsup_update_func = dtella_dnsup_textfile.TextFileUpdater(
    fname="test-dns.txt"
    ).update

# -- Use yi.org --
##import dtella_dnsup_yi
##dnsup_update_func = dtella_dnsup_yi.YiUpdater(
##    username="username",
##    password="password",
##    host_id=12345,
##    ).update

# -- Use Dynamic DNS --
##import dtella_dnsup_dynamic
##dnsup_update_func = dtella_dnsup_dynamic.DynamicDNSUpdater(
##    tsig_key = {'keyname': 'keyvalue'},
##    zone = "foo.config.dtella.org",
##    record = "",
##    ttl = 300,
##    dns_ip = '1.2.3.4'
##    ).update

