Dtella SYSTEM REQUIREMENTS

--
RUNNING DTELLA

In order to run dtella you will need the following:

* Python 2.4+ 		(http://www.python.org/)
* TwistedPython		(http://twistedmatrix.com/)
* PyCrypto		(http://www.voidspace.org.uk/python/modules.shtml#pycrypto)

The bridge server will require the following additional module:
* dnspython		(http://www.dnspython.org/)

If you wish to use SSL links in the bridge also grab:
* pyOpenSSL		(http://pyopenssl.sourceforge.net/)
* OpenSSL		(http://www.openssl.org/)


--
BUILDING

In order to build Dtella (for Windows) you will need all components required to run Dtella as well as the following:

* py2exe		(http://www.py2exe.org/)
* NSIS Install System	(http://nsis.sourceforge.net/)
* 7zip			(http://www.7-zip.org/)

