== DTELLA SYSTEM REQUIREMENTS ==

--
RUNNING DTELLA

In order to run dtella you will need the following:

* Python 2.5+
  -> http://www.python.org/
* Twisted 8.2+
  -> http://twistedmatrix.com/
* PyCrypto 2.0.1+
  -> http://www.voidspace.org.uk/python/modules.shtml#pycrypto

If you are running or building on Windows you will also need:

* Python for Windows Extensions
  -> http://sourceforge.net/projects/pywin32/
  

The bridge server will require the following additional modules, depending on
which config update method you use:
- Dynamic DNS:
  * dnspython
    -> http://www.dnspython.org/
- Google Spreadsheets:
  * gdata 1.0.10+
    -> http://code.google.com/p/gdata-python-client/

If you wish to use SSL links in the bridge also grab:
* pyOpenSSL
  -> http://pyopenssl.sourceforge.net/
* OpenSSL
  -> http://www.openssl.org/


--
BUILDING ON WINDOWS:

You will need all components required to run Dtella as well as the following:

* py2exe
  -> http://www.py2exe.org/
* NSIS Install System
  -> http://nsis.sourceforge.net/
* 7zip
  -> http://www.7-zip.org/

- Run build_installer.bat to create an installer
- Run build_py2exe.bat to create only dtella.exe


--
BUILDING ON OS X:

- Install a Python release from python.org
  (the default Mac Python seems somewhat broken.)

- Install Xcode Tools.

- Use easy_install to get dependencies:
curl -O http://peak.telecommunity.com/dist/ez_setup.py
python ez_setup.py
easy_install -U pycrypto
easy_install -U Twisted
easy_install -U modulegraph==dev
easy_install -U macholib==dev
easy_install -U py2app==dev

- Run Dtella's build script:
./build_osx.sh

